@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn how to create a CI/CD pipeline with GitHub Actions, Helm and AKS</a>.</p>
</div>
